.container {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);

    @include flex-center();

    @include breakpoint(md, max) {
        overflow: auto;
        padding: 0;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
}
@keyframes show {
    0% {
        width: 0;
        height: 0;
    }
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes bounce {
    100% {
        transform: scale(1.05);
    }
}
@keyframes bounce2 {
    100% {
        transform: scale(0.95);
    }
}
@keyframes bounce-twice {
    0% {
        transform: scale(0);
    }
    30% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(.75);
    }
    100% {
        transform: scale(1);
    }
}
.figure {
    margin-bottom: 0;
}
.bg-sound {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}
.wrap {
    position: relative;
    width: 800px;
    animation: fade-in .5s forwards;

    .wrap-outer--begin & {
        transform: translateX(-100%);
        //transition: 1s transform;
    }
    img {
        max-width: 100%;

    }
    &__go,
    &__yes,
    &__no,
    &__start,
    &__title,
    &__desc,
    &__bg-deco {
        position: absolute;
        top: 0;
        left: 0;
    }
    &__go,
    &__yes,
    &__no {
        width: 100%;
        z-index: 3;
        transform: scale(1.2);
    }
    &__go {
        display: none;
    }
    &__yes {
        display: none;
        transform: scale(1.5);

    }
    &__no {
        display: none;
        transform: scale(1.5);
        top: -100px;
    }
    &__start {
        z-index: 5;
    }
    &__title {
        top: 115px;
        left: 96px;
        z-index: 2;

        &.title-2 {
            top: 85px;
            left: 312px;
        }
    }
    &__desc {
        top: 62.55%;
        left: 15%;
        width: 70%;
        font-size: 25px;
        line-height: 1.3;
        font-weight: bold;
        color: #2452a4;
        max-height: 136px;
        overflow: hidden;
    }
    &__bg-deco {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -79%);
        z-index: 1;

        .bg-deco {
            background-image: url("../images/bg_deco.gif");
            background-size: cover;
            background-position: center;
            mask: url("../images/bg_deco.svg");
            width: 626px;
            height: 300px;
            
            &-2 {
                background-image: url("../images/wrap_bg.png");
                display: block;
            }
        }
    }
    &__title,
    &__bg-deco .bg-deco {
        display: none;
    }
    &-outer {
        position: relative;
        overflow: hidden;

        @include breakpoint(md, max) {
            min-width: 600px;
        }
    }
    &__man {
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translate(-50%, -50%) scale(0.9);
        z-index: 3;
    }
    &__question {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 63%;
        transform: translate(-50%, -50%) scale(0.9);

        .wrap__desc {
            font-size: 36px;
            text-align: center;
        }
    }
    &__transition {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 100%;
        transition: transform 1s, opacity .5s;
        z-index: 3;
        pointer-events: none;

        img {
            animation: rotate 3s infinite linear;
        }
        &.show {
            transform: translate(-50%, -50%) scale(1.5);
            pointer-events: auto;
        }
        &.hide {
            transform: translate(-50%, -50%) scale(1.5);
            opacity: 0;
        }
    }
    &-2 {
        position: absolute;
        top: 0;
        left: -2px;
        transform: translateX(100%);

        .wrap-outer--begin & {
            transform: translateX(0);
        }
        .next-button {
            display: none;
        }
    }
}
.final-bg {
    display: none;
}
[class*="frame-"] {
    display: none;
}
@for $i from 1 through 12 {

    .frame-#{$i} {
        [data-frame="#{$i}"] & {
            display: block;
        }
    }
    [data-frame="#{$i}"] {
        @if($i > 9) {
            .wrap__man .frame-#{$i} {
                width: 726px;
                max-width: none;
            }
            .yes-button,
            .no-button {
                display: none;
            }
            .replay-button {
                display: block;
            }
            .wrap__question {
                //width: 420px;
            }
            .normal-bg {
                display: none;
            }
            .final-bg[data-frame="#{$i}"] {
                display: block;
            }
        }
        @if($i == 10) {
            .next-button[data-frame="10"] {
                display: block;
            }
        }
    }
}
.desc-button {
    @include btn-colors(blue);
    font-size: 20px;
    text-decoration: none;
    transition: background-color .25s;
    float: right;
    padding: 3px 20px;
    margin-top: 3px;
}
.next-button {
    position: absolute;
    left: 50%;
    bottom: 73px;
    width: 50px;
    height: 20px;
    transform: translateX(-50%);

    .wrap-2 & {
        top: 140px;
        bottom: auto;
    }
}
.start-button {
    position: absolute;
    width: 120px;
    height: 120px;
    right: 1rem;
    bottom: 80px;
    filter: drop-shadow(2px 2px 2px rgba(#fff, .5));
    display: none;
    animation: bounce-twice .75s forwards ease-in-out;
    z-index: 2;
}
.replay-button {
    position: absolute;
    bottom: 18px;
    right: 1rem;
    display: none;
    z-index: 2
}
.yes-button,
.no-button {
    position: absolute;
    z-index: 2;

    img {
        transition: transform .2s;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    &:hover img {
        transform: scale(1.1);
    }
}
.yes-button {
    width: 111px;
    top: 100px;
    right: 100px;
}
.no-button {
    width: 111px;
    top: 232px;
    right: 95px;
}

.bounce {
    animation: bounce .5s infinite alternate ease-in-out!important;
}
.bounce2 {
    animation: bounce2 .5s infinite alternate ease-in-out!important;
}