.container {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);

    @include flex-center();

    @include breakpoint(md, max) {
        overflow: auto;
        padding: 0;
        justify-content: flex-start;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
}
@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
    }
}
@keyframes show {
    0% {
        width: 0;
        height: 0;
    }
}
@keyframes rotate {
    0% {
        opacity: 0;
        transform: rotate(-45deg);
    }
    100% {
        opacity: 1;
    }
}
.figure {
    margin-bottom: 0;
}
.bg-sound {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}
.wrap {
    margin-top: -2px;
    position: relative;
    width: 813px;
    animation: fade-in .5s forwards;

    .wrap-outer--begin & {
        transform: translateX(-100%);
        //transition: 1s transform;
    }
    img {
        max-width: 100%;

    }
    &__title-1,
    &__title-2,
    &__title-3,
    &__title-man,
    &__white {
        position: absolute;
        top: 0;
        left: 0;
    }
    &__title {
        &-1 {
            top: 200px;
            left: 275px;
            animation: fade-in-right .75s forwards;
        }
        &-2 {
            top: 280px;
            left: 376px;
            opacity: 0;
            animation: fade-in-right .75s 0.25s forwards;
        }
        &-3 {
            top: 280px;
            left: 276px;
            opacity: 0;
            transform-origin: right bottom;
            animation: rotate .75s 0.25s forwards;
        }
        &-man {
            top: 142px;
            left: 61px;
            animation: fade-in-down 1.25s forwards;

        }
    }
    [class*="wrap__title-"],
    .start-button {
        .wrap-outer--fading & {
            animation: none;
            opacity: 1;
        }
    }
    &-outer {
        height: 600px;
        position: relative;
        overflow: hidden;

        @include breakpoint(md, max) {
            min-width: 813px;
        }
    }
    &__man {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
    &-2 {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(100%);

        .wrap-outer--begin & {
            transform: translateX(0);
        }
    }
}
[class*="frame-"] {
    max-width: none!important;
    display: none;
}
@for $i from 1 through 21 {

    .frame-#{$i} {
        [data-frame="#{$i}"] & {
            display: block;
        }
    }
    [data-frame="#{$i}"] {
        @if($i > 18) {
            .yes-button,
            .no-button {
                display: none;
            }
            .replay-button {
                display: block;
            }
            .wrap__man {
                width: 100%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
.start-button {
    position: absolute;
    right: 80px;
    bottom: 198px;
    opacity: 0;
    z-index: 1;
    animation: fade-in-up .75s .5s forwards;

    img {
        transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    &:hover img {
        transform: scale(1.1);
    }
}
.replay-button {
    position: absolute;
    bottom: 25px;
    right: 16px;
    display: none;
    z-index: 2;
    width: 129px;
}
.yes-button,
.no-button {
    position: absolute;
    z-index: 2;
    width: 138px;
    height: 138px;

    img {
        transition: transform .4s;
    }
    &:hover img {
        transform: scale(1.1);
    }
}
.yes-button {
    top: 120px;
    right: 2.1rem;
}
.no-button {
    //width: 65px;
    top: 300px;
    right: 28px;
}