.container {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);

    @include flex-center();

    @include breakpoint(md, max) {
        overflow: auto;
        padding: 0;
        justify-content: flex-start;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
}
@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
}
@keyframes show {
    0% {
        width: 0;
        height: 0;
    }
}
@keyframes swing {
    50% {
        transform: translateX(10px);
    }
}
@keyframes rotate {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.2) rotate(360deg);
    }
}
.figure {
    margin-bottom: 0;
}
.bg-sound {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}
.wrap {
    position: relative;
    width: 600px;
    animation: fade-in .5s forwards;

    .wrap-outer--begin & {
        transform: translateX(-100%);
        //transition: 1s transform;
    }
    img {
        max-width: 100%;

    }
    &__start,
    &__title,
    &__bg-rotate,
    &__scene-2,
    &__white,
    &__bg-deco {
        position: absolute;
        top: 0;
        left: 0;
    }
    &__white {
        width: 100%;
        height: 100%;
        background: #fff;
        pointer-events: none;
        z-index: 5;
        opacity: 0;
    }
    &__start {
    }
    &__title {
    }
    &__scene-2 {
        z-index: 3;
        display: none;
    }
    &__bg-deco,
    &__bg-rotate, {
        left: 50%;
        top: 59%;
        transform: translate(-50%, -54%);
        z-index: 1;
    }
    &__bg-deco {
        width: 115%;
        max-width: none !important;
        z-index: 1;

        img {
            transform: translateX(-10px);
            animation: swing infinite alternate 2.5s linear;
        }
    }
    &__bg-rotate, {
        z-index: 0;
        width: 100%;
        height: 253px;
        top: calc(50% - 2px);
        transform: translate(-50%, -50%);
        overflow: hidden;

        &-img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            animation: rotate infinite 5s linear;
        }
    }
    &__title,
    &__bg-deco,
    &__bg-rotate-img{
        display: none;
    }
    &-outer {
        position: relative;
        overflow: hidden;

        @include breakpoint(md, max) {
            min-width: 600px;
        }
    }
    &__man {
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%) scale(1.5);
    }
    &__question {
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%) scale(0.9);
    }
    &__transition {
        position: absolute;
        left: 63%;
        top: 49.5%;
        transform: translate(-50%, -50%) scale(2.12);
        opacity: 0;
        width: 100%;
        transition: transform 1s, opacity .5s;
        z-index: 3;
        pointer-events: none;

        img {
            //animation: rotate 3s infinite linear;
        }
        &.show {
            opacity: 1;
            transform: translate(-50%, -50%) scale(2.12);
            pointer-events: all;
        }
        &.hide {
            transform: translate(-50%, -50%) scale(2.12);
            opacity: 0;
        }
    }
    &-2 {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(100%);

        .wrap-outer--begin & {
            transform: translateX(0);
        }
    }
}
[class*="frame-"] {
    display: none;
}
@for $i from 1 through 18 {

    .frame-#{$i} {
        [data-frame="#{$i}"] & {
            display: block;
        }
    }
    [data-frame="#{$i}"] {
        @if($i > 15) {
            .yes-button,
            .no-button {
                display: none;
            }
            .replay-button {
                display: block;
            }
            .wrap__man {
                top: 49.7%;
                height: 251px;
                overflow: hidden;
                width: 100%;
                transform: translate(-50%, -50%) scale(1.02);

                img {
                    position: relative;
                    top: -196px;
                }
            }
            .wrap__question {
                width: 420px;
            }
        }
    }
}
.title-button {
    position: absolute;
    top: 49.5%;
    left: 50.8%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 214px;
    height: 205px;
    display: block;

    .wrap__title {
        transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    &:hover {
        .wrap__title {
            transform: scale(1.1);
        }
    }
}
.start-button {
    position: absolute;
    width: 71px;
    height: 24px;
    right: 1rem;
    bottom: 80px;
    filter: drop-shadow(2px 2px 2px rgba(#fff, .5));
    display: none;
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 4;
    animation: .5s fade-in-up forwards;

    &:hover {
        transform: scale(1.1);
    }
}
.replay-button {
    position: absolute;
    bottom: 84px;
    right: 1rem;
    display: none;
    z-index: 2;
    width: 100px;
}
.yes-button,
.no-button {
    position: absolute;
    z-index: 2;
    width: 80px;
    height: 80px;

    img {
        transition: transform .4s;
    }
    &:hover img {
        transform: scale(1.1);
    }
}
.yes-button {
    top: 100px;
    right: 2rem;
}
.no-button {
    //width: 65px;
    top: 200px;
    right: 28px;
}